name: deit_base_patch16_384
sync_dist: True # Use when training with multiple gpu
arch:
  _target_: src.networks.DeitBase
  model_name: deit_base_patch16_384
  n_class: 2
  pretrained: True
monitor: "val/loss"
optimizer:
  _target_: torch.optim.Adam
  lr: 3e-4
  weight_decay: 1e-5
lr_scheduler:
  _target_: torch.optim.lr_scheduler.StepLR
  step_size: 20
  gamma: 0.1
