name: swin_base_patch4_window12_384
sync_dist: True # Use when training with multiple gpu
arch:
  _target_: src.networks.SwinTransformer
  n_class: 2
  model_name: swin_base_patch4_window12_384
  pretrained: True

optimizer:
  _target_: torch.optim.AdamW
  lr: 3e-5
  weight_decay: 1e-6
lr_scheduler:
  _target_: torch.optim.lr_scheduler.StepLR
  step_size: 20
  gamma: 0.1
