name: baseline
state: train # train/test/debug
seed: 42

# path to original working directory
# hydra hijacks working directory by changing it to the current log directory,
# so it's useful to have this path as a special variable
# https://hydra.cc/docs/next/tutorials/basic/running_your_app/working_directory
work_dir: ${hydra:runtime.cwd}

logging:
  root: ./logs

defaults:
  - model: swin_base_patch4_window12_384

dataset:
  train_list: ${work_dir}/data/train/train.csv
  val_list: ${work_dir}/data/train/val.csv
  data_dir: ${work_dir}/data
  crop_size: 384
  batch_size: 8
  num_workers: 4
  pin_memory: True
  augmentation:
    aug1:
      _target_: torchvision.transforms.RandomHorizontalFlip
      p: 0.5
    aug2:
      _target_: torchvision.transforms.RandomVerticalFlip
      p: 0.2
    aug3:
      _target_: torchvision.transforms.ColorJitter
      brightness: 0.3
      contrast: 0.0
      saturation: 0.0
      hue: 0.0


trainer:
  # GPU related
  precision: 16
  accelerator: gpu
  devices: -1
  num_nodes: 1
  strategy: null #ddp if we want to use Multi-GPUs
  benchmark: True
  sync_batchnorm: False
  # Training related
  # max_steps: 100000
  max_epochs: 20
  # limit_train_batches: 1.0
  # gradient_clip_val: 0.1 # gradient clipping max norm
  # gradient_clip_algorithm: "norm"

# Logging, progress bar
refresh_rate: 10

model_ckpt:
  dirpath: ckpts/
  filename: "checkpoint-epoch{epoch}-step{step}-val_acc{val/acc:.3f}-val_loss{val/loss:.3f}"
  monitor: ${model.monitor}
  save_last: True
  save_top_k: 2
  mode: min
  auto_insert_metric_name: False

ddp_plugin:
  # These two args only work with accelerator = "ddp"
  find_unused_params: True # FIXME: Find out why turn this to False will fail to launch the training
  fp16_hook: True
  static_graph: False

hydra:
  run:
    dir: ./outputs/${name}-${model.name}/${model.name}_${now:%Y-%m-%d-%H-%M-%S}
