work_dir: ${hydra:runtime.cwd}
# name: prob_2nd_best
# checkpoint: outputs/baseline-tf_efficientnet_b4_ns/2022-11-06-13-06-47/ckpts/checkpoint-epoch4-step1310-val_acc0.992-val_loss0.017.ckpt
# crop_size: 512

name: swin_base_patch4_window12_384
name_time: 2022-11-09-18-03-03
checkpoint: outputs/baseline-swin_base_patch4_window12_384/swin_base_patch4_window12_384_2022-11-09-18-03-03/ckpts/checkpoint-epoch8-step4716-val_acc0.987-val_loss0.218.ckpt
crop_size: 384
images_dir: data/public_test_2/images/*

hydra:
  run:
    dir: ./outputs/inference_${name}/${name_time}
